@import "styles/color_scheme.scss";
.Button {
    padding: 1rem;
    background-color: $gray_6;
    background: #12c2e9; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #f64f59,
        #c471ed,
        #12c2e9
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #f64f59,
        #c471ed,
        #12c2e9
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: $white_2;
    font-size: 28px;
    cursor: pointer;
    border-radius: 10px;
    user-select: none;
    transition: ease-out 0.2s;
    &:hover {
        transform: scale(1.1);
    }
    &:active {
        filter: brightness(0.8);
    }
}
