@import "styles/color_scheme.scss";

@mixin hoverScaling {
    transition: ease-in-out 0.3s;
    &:hover {
        transform: scale(1.03);
    }
    a {
        width: 100%;
        height: 100%;
    }
}

.nothing::after {
    content: "조금 더 분발해보도록  할게요...!😖";
}
.projectCard {
    width: 400px;
    height: 500px;
    background-color: $white_2;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1rem;
    flex-direction: column;
    margin-bottom: 2rem;
    font-family: AppleSDGothicNeoM;
    &_name {
        font-weight: bold;
        font-size: 20px;
        display: inline;
        margin-right: 1rem;
    }
    &_platform {
        display: inline;
        background-color: $blue_6;
        color: $white_2;
        border-radius: 15px;
        padding: 5px;
    }
    &_img {
        margin: 1rem 0 1rem 0;
        display: block;
        width: 100%;
        height: 300px;
        border-radius: 10px;
        box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    }
    &_explanation {
        padding: 1rem;
        background-color: $gray_3;
        border-radius: 10px;
        margin-bottom: 1rem;
    }
    &_stack {
        display: flex;
        &_stackItem {
            margin: 0 0.3rem 0 0.3rem;
            list-style: none;
            background-color: $green_4;
            padding: 3px;
        }
        &::before {
            content: "기술 스택";
            font-weight: bold;
        }
    }
    &_productionPeriod {
        color: $blue_4;
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        &::before {
            content: "제작 기간";
        }
    }
}
