@import "styles/color_scheme.scss";
@import "styles/font.scss";

@mixin flexBoxCenterSort {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Start {
    width: 100%;
    background-color: $white_2;
    font-family: AppleSDGothicNeoM;
    &_sloganDiv {
        height: 80vh;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
            rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        background-image: url(../../assets/images/intro_2.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        @include flexBoxCenterSort();
        text-align: center;
        line-height: 2rem;
        background-attachment: fixed;
        h1 {
            font-size: 28px;
            color: $gray_6;
            cursor: default;
            user-select: none;
        }
        &_name {
            font-size: 36px;
            text-decoration: underline;
            color: $violet_6;
            transition: ease-out 0.2s;
        }
        h1:hover &_name {
            font-size: 44px;
        }
    }
    &_getStartDiv {
        height: 50vh;
        @include flexBoxCenterSort();
    }
}
